@use "../abstract" as *;

.breadcrumbs-wrapper.container {
    width: 90vw;
    position: relative;

    &,
    &::after,
    &::before {
        border-bottom: 1px solid $col-primary;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 5vw;
        height: calc(100% + 1px);
        background-color: #ffffff;
    }

    &::before {
        left: -5vw;
    }
    &::after {
        right: -5vw;
    }

    .breadcrumbs {
        border: none;

        a {
            color: $col-primary;
            text-decoration: none;
            font-weight: 500;
            transition: all 0.3s ease-in;

            &:hover {
                color: $col-primary-dark;
                text-decoration: underline;
            }

            &::before, 
            &::after {
                height: 35%;
                background-color: $col-primary;
            }

            &::before {
                top: 19.5%
            }

            &::after {
                bottom: 19.5%;
            }

        }
        &.navigation-home-icon-wrapper {
            &::before {
                color: $col-primary;
            }
        }

        .separator {
            color: $col-primary-dark;
        }
    }
}