@use "../abstract" as *;

header {
  &#header {
    top: 0;
    padding: 0.5rem 0;

    @include respond-to(md) {
      padding: 0;
    }


    @include respond-to(md) {
      position: sticky;
      top: 0;
      background-color: transparent;
      z-index: 1000;
    }

    .container {
      @include respond-to(md) {
        max-width: 90vw;
        width: 100%;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease-in-out;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          width: 5vw;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(10px);

        }

        &::before {
          left: -5vw;
        }

        &::after {
          right: -5vw;
        }

      }
    }

    .header-top {
      justify-content: space-between;

      .site-name-wrapper,
      .search,
      .navigation-buttons {
        flex: unset;
      }

      .search {
        max-width: 250px;
        @include respond-to(xl) {
          max-width: 400px;
        }
      }

      .site-name {
        z-index: 1001;
        top: 0;
        display: block;

        @include respond-to(md) {
          top: 7px;
        }
      }

      .site-name-wrapper {
        @include respond-to(md) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70%;
        }
      }

      .search {
        input[type='search'] {
          padding: 5px 70px 5px 12px;
          border: 1px solid $col-secondary;
          border-radius: 2rem;
        }

        button[type='submit'] {
          background-color: $col-secondary-darker;
          color: white;
          border-radius: 2rem;
          padding: 5px 10px;
          top: 0;
          right: 70px;
          font-size: 1rem;
        }

        .search-whisperer {
          max-height: 70vh;
          overflow-y: auto;

          .search-whisperer-products {
            li {
              a {
                .search-whisperer-image {
                  max-width: 80px;
                }

                .p-info {
                  .p-name {
                    font-size: 0.9rem;
                    color: $col-primary;
                  }
                }

                .price {
                  font-size: 0.9rem;
                  color: $col-secondary-darker;
                  position: absolute;
                  left: 91px;
                  bottom: 13px;
                  text-align: left;
                  @include expressive-font;
                }
              }
            }
          }
        }
      }

      .navigation-buttons {
        a {
          &.btn.cart-count {
            top: 24px;
            right: 115px;

            @include respond-to(md) {
              top: unset;
              right: unset;
            }

            .cart-price {
              display: none !important;
            }
          }
        }

        .toggle-window {
          &[data-target="search"] {
            margin-right: 45px;
            border-radius: 50%;
            background-color: transparent;
            color: $col-primary;

            &::before {
              font-weight: 900;
            }
          }
        }

        .top-nav-button-login {
          position: absolute;
          top: 11px;
          right: 100px;
          width: 1.75rem;
          height: 1.75rem;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%234F5A39" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          @include respond-to(md) {
            position: relative;
            top: unset;
            right: unset;
          }

          span {
            display: none;
          }
        }

        .top-nav-button-account {
          display: block;
          width: 2rem;
          height: 2rem;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%234F5A39" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          span {
            display: none;
          }
        }
      }
    }

    .header-title {
      display: none;
    }
  }
}


.scrolled {
  header#header {
    .site-name {
      transform: none !important;
    }

    @include respond-to(md) {
      top: 10px;

      .container {
        max-width: 70vw;
        min-width: 904px;
        padding: 0 3rem;
        border: 3px solid $col-primary;
        border-radius: 5rem;
        filter: drop-shadow($shadow-light);

        &::before,
        &::after {
          content: none;
        }

        .search {
          display: none;
        }

        .site-name-wrapper {
          width: 90%;

          #navigation {
            width: 80%;
          }
        }

        .menu {
          .menu-level-2 {
            left: 41%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .user-action {
      .user-action-in {
        .cart-widget {
          right: calc(30vw - 1.75rem);
        }

        .user-action-login {
          right: calc(30vw - 4rem);
        }
      }
    }
  }
}

body {
  &::after {
    content: '';
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffaf4aa;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    backdrop-filter: blur(10px);
  }

  &.submenu-visible {
    @include respond-to(md) {
      &::after {
        display: block;
        opacity: 1;
      }
    }
  }
}

.user-action {
  .user-action-in {

    .cart-widget,
    .user-action-login {
      position: fixed;
      z-index: 1001;
      left: 0;
      top: 60px;
      right: calc(5vw + 1.5rem);

      @include respond-to(md) {
        top: 97px;
        left: unset;
      }
    }

    .user-action-login {
      padding-top: 0;
      top: 60px;
      right: 0;

      @include respond-to(md) {
        right: calc(5vw - 1.5rem);
      }
    }

    .cart-widget {
      border-radius: 0 0 1.7rem 1.7rem;

      //overflow: hidden;
      .cart-widget-products {
        .cart-widget-product {
          &-image {

            a,
            img {
              width: 100%;
              object-fit: cover;
            }
          }

          &-amount {
            button {
              padding: 0.5rem 0.5rem;
              right: -2px;
              font-size: 1rem;
              border-radius: 1rem 1rem 0 0;
              background-color: $col-primary-dark;
              color: white;

              &.decrease {
                border-radius: 0 0 1rem 1rem;
              }
            }

            .quantity {
              padding-right: 25px;
              font-size: 1rem;
              font-weight: 500;
              color: $col-text;
              border: 1px solid $col-primary-dark;
              border-radius: 1rem 0.5rem .5rem 1rem;
            }
          }

          &-name {
            strong {
              font-size: .9rem;
              font-weight: 700;
              color: $col-primary;
            }

            [data-testid="cartWidgetProductPrice"] {
              @include expressive-font;
              font-size: .9rem;
              font-weight: 700;
              color: $col-secondary;
            }
          }

          &-delete {
            visibility: visible;

            button {
              &::before {
                font-size: .9rem;
                color: $col-secondary-darker;
              }
            }
          }
        }
      }

      .cart-widget-button {
        padding: 1rem 0 0;
        border-radius: 0 0 1.7rem 1.7rem;
      }
    }
  }
}