@use "../abstract" as *;

nav#navigation {
    padding-top: 4rem;
    @include respond-to(md) {
        padding-top: 0;
    }
    @include expressive-font;

    @include respond-to(lg) {
        width: 100%;
    }

    @include respond-to(xl) {
        width: 70%;
    }

    .navigation-in {
        padding: 0 2rem;
        width: 100%;
        background-color: transparent;
        @include respond-to(md) {
            padding: 0;
        }
    }

    /*.site-name {        
        order: 1;
    }

    .navigation-buttons {
        order: 3;
        display: flex;
    }*/

    .menu-level-1 {
        @include respond-to(md) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
        }

        li {
            border-bottom: 1px solid $col-secondary-light;
            @include respond-to(md) {
                border: none;
            }

            &.ext {
                .submenu-arrow {
                    @include respond-to(md) {                       
                    display: inline-block;
                    font-size: 0.9rem;

                    &::after {
                        position: absolute;
                        top: 50%;
                    }
                }
                }

                a {
                    padding-right: 0;
                    @include respond-to(md) {
                        padding-right: 2rem;
                    }
                }
            }

            &.exp {
                @include respond-to(md) {
                    .menu-level-2 {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(6, auto);
                        grid-auto-flow: row dense;
                        gap: 0 1rem;
                        min-width: 50vw;
    
                        li {
                            &:not(.menu-banner) {
                                grid-column: 1;
                                grid-row: span 2;
                                gap: 1rem;
                                align-items: flex-start;
                            }
    
                            &.menu-banner {
                                grid-column: 2;
                                grid-row: span 3;
                            }
                        }
                    }
                }
            }

            a {
                justify-content: space-between;
                padding: 0.25rem 0;
                font-size: 1.1rem;
                color: $col-primary;
                text-transform: uppercase;
                background-color: transparent;
                border-radius: 1rem;
                transition: all 0.3s ease-out;
                @include respond-to(md) {
                    padding: 0.5rem 1.5rem;
                }

                &:hover {
                    margin: 0;
                }

                b {
                    font-weight: 900;
                }
            }

            &:hover {
                a {
                    @include respond-to(md) {
                        margin: 0;
                        color: white;
                        background-color: $col-primary;
                    }
                }
            }
        }
    }

    .menu-level-2 {
        li {
            padding: 0.75rem 0;
            &.menu-item--hidden {
                display: none;
            }

            &.menu-banner {
                padding: 0 0 0.75rem 0;

                .banner {
                    margin: 0;
                }

                .extended-banner-link {
                    visibility: hidden;
                }
                .extended-banner-title,
                .extended-banner-text {
                    width: 100%;
                    max-width: 100%;
                    @include respond-to(md) {
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .extended-banner-title {
                    font-size: 1.1rem;
                }
            }
        }
        @include respond-to(md) {
            top: 105%;
            border-radius: 1rem;
            filter: drop-shadow($shadow-light);
    
            li {
                width: 100%;
                padding: 1rem;
    
                &.has-third-level {
                    .menu-image {
                        width: 115px;
                        height: 115px;
                        padding: 0;
                        border-radius: 1rem;
                        background-color: transparent;
                        overflow: hidden;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
    
                    div {
                        >a {
                            background-color: transparent;
                            color: $col-primary;
                            text-decoration: none;
                            padding: 0;
                            transition: all 0.3s ease-in-out;
    
                            &:hover {
                                color: $col-primary-dark;
                                text-decoration: underline;
                            }
                        }
    
                        .menu-level-3 {
                            max-height: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            gap: 0.5ch;
    
                            li {
                                width: max-content;
                                padding: 0;
    
                                a {
                                    background-color: transparent;
                                    color: $col-primary;
                                    text-decoration: none;
                                    padding: 0;
                                    transition: all 0.3s ease-in-out;
                                    text-transform: none;
    
                                    &:hover {
                                        color: $col-primary-dark;
                                        text-decoration: underline;
                                    }
                                }
                            }
    
                            .more-items-trigger {
                                position: relative;
                                width: 12px;
                                margin-top: 0;
                                &::after {
                                    content: none;
                                }
                            }
                        }
                    }
                }
    
                &.menu-banner {
                    >div {
                        width: 95%;
                        height: 100%;
                        padding: 0;
                        background-color: transparent;
    
                        .banner {
                            margin: 0;
                        }
    
                        .banner-wrapper {
                            a {
                                padding: 0 !important;
                                border-radius: 1rem;
                                overflow: hidden;
                            }
    
                            .extended-banner-texts {
                                .extended-banner-title {
                                    top: 1.5rem;
                                    color: $col-primary;
                                    font-size: 1.25rem;
                                }
    
                                .extended-banner-text {
                                    top: 4rem;
                                    bottom: unset;
                                    color: $col-primary;
                                    text-transform: none;
                                }
    
                                .extended-banner-link {
                                    visibility: hidden;
                                    /*height: max-content;
                                    margin-top: -5px;
                                    right: 1rem;
                                    bottom: 1rem;
                                    top: unset;
                                    background-color: $col-primary;
                                    border-radius: 2rem;
                                    padding: 0.5rem 1rem;
                                    border: none;*/
                                }
                            }
                        }
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            max-width: 100%;
                            max-height: 200px;
                        }
                    }
                }
            }
            
        }
    }

    .navigationActions {
        li {
            border-color: $col-secondary-light;
            a {
                padding: 0.25rem 0;
                font-size: 1.1rem;
                color: $col-primary;
                text-transform: uppercase;
            }
        }
    }
}