@use 'abstract' as *;

html {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
	font-size: $font-size;
	
	body {
		@include basic-font;
		color: $col-text;

		.header-navigation>div, 
		.benefitBanner,
		.content-wrapper.container {
			width: 90vw;
		}

		h1, h2, h3, h4, h5, h6, .homepage-group-title  {
			@include expressive-font;
		}

		p {
			color: $col-text !important;
			font-size: 1.2rem;
			@include basic-font;
		}
	}	

	.admin-bar {
		display: none;
	}
}