@use '../abstract/' as *;

html {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
	font-size: $font-size;
	
	body {
		@include basic-font;
		color: $col-text;
		background-color: $col-background;

		* {
			&:focus {
				outline: 2px solid $col-secondary;
				border: none;
			}
		}
		
		.header-navigation>div, 
		.benefitBanner,
		.content-wrapper.container {
			width: 98vw;
			@include respond-to('md') {
				width: 90vw;
			}
		}

		.content-inner {
			max-width: unset;
		}

		h1, h2, h3, h4, h5, h6, .homepage-group-title  {
			@include expressive-font;
		}

		p {
			color: $col-text !important;
			font-size: 1.2rem ;
			@include basic-font;

			b {
				color: $col-primary;
			}
		}

		/*a {
			color: $col-primary;
			text-decoration: underline;
			&:hover {
				color: $col-secondary;
			}
		}*/

		.basic-description, .extended-description, .pageArticleDetail, .category__secondDescription {			
			font-size: 1.2rem !important;
			ul {
				list-style: none;
				padding-left: 2rem;
				
				li {
					position: relative;
					margin-bottom: 1rem;
					font-size: 1.1rem!important;
	
					&:before {
						content: "";
						color: $col-primary;
						display: inline-block; 
						width: 1.5rem;
						height: 1.5rem;
						position: absolute;
						top: 0;
						left: -2rem;
						background-image: url('/user/documents/upload/product-info/list-marker.svg');
					}

					strong,
					b {
						color: $col-primary;
					}
				}
			}
		}
	}	

	.admin-bar {
		display: none;
	}
}