@use "../abstract" as *;

$themes: (
    'aroma': (text: $col-aroma, wave: 'C1D991'),
    'deti': (text: $col-deti, wave: 'D99D91'),
    'darek': (text: $col-darek, wave: '463859')
);

.type-detail {
    .content-wrapper {
        .product-top {
            .col-xs-12:first-of-type {
                display: none;
            }
        }

        .p-detail-inner-header {
            display: none;
        }
    }

    .basic-description,
    .p-short-description {

        ul li,
        p {
            font-size: 1.1rem;

            b,
            strong {
                font-weight: 900;
                color: $col-primary;
            }
        }
    }

    .basic-description,
    .extended-description {
        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: $col-primary;
        }
    }

    .basic-description {
        .tab-item {
            padding: 1rem 0;
            
            h2 {
                margin: 0;
                position: relative;
                padding: 1rem 0;
                color: $col-secondary;
                border-bottom: 1px solid $col-primary;
                cursor: pointer;

                &::after {
                    content: '';
                    display: block;
                    width: 1.5rem;
                    height: 1.5rem;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%) rotate(180deg);
                    transition: all 0.3s ease-in;
                    background-size: contain;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve"><path style="fill:%234F5A39" d="M502.689 324.653 269.957 150.109a23.27 23.27 0 0 0-27.927 0L9.311 324.653c-10.282 7.713-12.367 22.3-4.655 32.582 4.572 6.097 11.56 9.311 18.637 9.311 4.858 0 9.759-1.517 13.945-4.656l218.758-164.072L474.763 361.89c10.285 7.714 24.871 5.627 32.582-4.655s5.626-24.87-4.656-32.582"/></svg>');
                }
            }

            div, p, ul {
                height: auto;
                padding: 1rem 0;
                transition: all 0.3s ease-in;
                margin: 0;
            }

            &.closed {
                &::after {
                    transform: translateY(-50%) rotate(0deg);
                }

                div, p, ul {
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }

        }
    }

    .extended-description {
        flex: 0 0 calc(38% - 10px);
        
        .detail-parameters {
            font-size: 1rem;
            color: $col-text;

            th {
                min-width: 150px;
                span {
                    font-weight: 600;
                    color: $col-primary;
                }
            }
        }

        .our-tip {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 1.5rem;
            position: relative;
            border: 1px solid #C3635C;
            border-radius: 1rem;
            font-size: 1.2rem;

            &::before {
                content: '';
                display: block;
                width: 10rem;
                height: 16rem;
                position: relative;
                float: right;
                margin-right: -2rem;
                margin-top: -1.5rem;
                margin-left: 1rem;
                background-image: url('/user/documents/upload/product-info/bebesak-pozor-web.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            p {
                margin-bottom: 0;

                &:first-of-type {
                    height: 65px;
                    background-color: $col-secondary;
                    padding: .5rem 1rem;
                    margin: -1.5rem -1.5rem 1rem;
                    border-radius: 0.85rem 0.85rem 0 0;
                    font-weight: 600;
                    color: $col-background !important;                    
                }
            }

            ul {
                margin: 0;
            }
        }
    }

    .p-image-wrapper {
        @include respond-to('md') {
            display: grid;
            grid-template-columns: auto 100px;
            width: 60%;
        }

        .p-image {
            margin-bottom: 0;
        }

        .p-thumbnails {
            @include respond-to('md') {
                height: 100%;
            }

            >div {
                height: 100%;
                @include respond-to('md') {
                    height: 100%;
                    max-width: 100px;
                }
                
                >div {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    height: 100%;
                    @include respond-to('md') {
                        //max-height: 100px;
                        max-width: 100px;
                        justify-content: flex-end;
                        flex-direction: column;
                    }
                }
            }

            .p-thumbnail {
                width: 100px;
                max-width: 200px;
                height: 100%;

                @include respond-to('md') {
                    max-width: 100px;
                    height: 100%;
                    max-height: 100px;
                }
                border: none;
                overflow: hidden;
                border-radius: 0 0.5rem 0.5rem 0;

                &::before {
                    content: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: none;
                    mix-blend-mode: multiply;
                }

                &.highlighted {
                    border: none;
                }
            }
        }
    }

    .p-info-wrapper {
        width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        >h1 {
            width: 100%;
            position: relative;
            margin: 2rem 0;
            font-size: 1.7rem;
            font-weight: 600;
            color: $col-primary;
            @include respond-to('md') {
                font-size: 2.2rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 130px;
                height: 6px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .p-final-price-wrapper,
        .availability-value {
            width: 50%;
            @include respond-to('md') {
                width: 100%;
            }
        }

        .p-final-price-wrapper {
            margin: 1rem 0;

            .price-final {
                @include expressive-font;
                font-size: 2rem;
                color: $col-secondary;
            }
        }

        .availability-value {
            text-align: right;
            font-size: 1rem;

            @include respond-to('md') {
                text-align: left;
            }

            span {
                &[style="color: #3c840f"] {
                    color: $col-primary-dark !important;
                }

            }
        }

        .add-to-cart {
            gap: 0;
            background-color: transparent;
            border-radius: 0;
            @include respond-to('md') {
                gap: 2rem;
            }

            .quantity {
                background-color: transparent;
                border: 1px solid $col-primary;
                height: 100%;
                border-radius: 2rem 1rem 1rem 2rem;

                label {
                    color: $col-primary;
                    font-size: 1.25rem;
                    height: 100%;

                    input {
                        height: 100%;
                        padding-right: 0.5rem;
                    }
                }

                button {
                    height: 28px;
                    background-color: $col-primary-dark;
                    color: $col-background;
                    border: none;
                    transition: all 0.3s ease-in;
                    border-radius: 2rem 2rem 0 0;

                    &.decrease {
                        border-radius: 0 0 2rem 2rem;
                    }

                    &:hover {
                        color: $col-primary-dark;
                        background-color: $col-primary-light;
                    }
                }
            }

            .add-to-cart-button {
                background-color: $col-primary;
                color: $col-background;
                font-size: 1.25rem;
                height: 100%;
                transition: all 0.3s ease-in;
                border-radius: 2rem;
                padding-right: 3rem !important;

                &::before {
                    position: absolute;
                    right: 1rem;
                    transition: all 0.3s ease-in;
                }

                &:hover {
                    background-color: $col-primary-dark;
                    &::before {
                        right: 0.5rem;
                    }
                }
            }
        }

        .social-buttons-wrapper {
            width: 100%;

            a {

                &,
                &::before {
                    color: $col-primary;
                    font-size: 1.5rem;
                    transition: all 0.3s ease-in;

                    &:hover {
                        color: $col-primary-dark;
                    }
                }

                font-size: 0.8rem;
            }
        }
    }

    .p-detail-tabs-wrapper {
        .responsive-nav {
            .shp-tabs-holder {
                padding: 0;                
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $col-primary;
            }

            .p-detail-tabs  {
                display: flex;
                justify-content: flex-start;
                gap: 0;
                background-color: transparent;
                @include respond-to('md') {
                    gap: 1rem;
                }

                .shp-tab {
                    font-size: 1.1rem;
                    color: $col-primary;
                    border: none;
                    //border-bottom: 2px solid transparent;
                    border-radius: 0.5rem 0.5rem 0 0;
                    transition: all 0.3s ease-in;
                    overflow: hidden;

                    a {
                        background-color: $col-primary-light;
                        border: none;
                    }

                    &[data-testid="tabAlternativeProducts"] { 
                        a {
                            background-color: $col-secondary;
                            color: $col-background;
                        }
                    }

                    &.active {
                        a {
                            background-color: $col-primary-dark;
                            color: $col-background;
                        }
                    }


                    &:hover {
                        color: $col-primary-dark;
                    }
                }
            }
        }
    }

    @each $name, $colors in $themes {
        &.#{$name} .p-info-wrapper {
            @include wave-title(map-get($colors, text), map-get($colors, wave));
        }
    }
}