@use 'abstract' as *;

.content-wrapper {
    background-color: transparent;
    
    @include respond-to(lg) {
        padding-top: 0;
    }

    &.homepage-box {
        border: none;
    }

    &.middle-banners-wrapper {
        + .container {
            width: 100vw;
            padding: 0 5vw;
            background-color: white;
        }
    }

    main {
        padding: 0;
    }
}