@use 'abstract' as *;

nav#navigation {
    @include expressive-font;
    @include respond-to(lg) {
        width: 70%;
    }

    .menu {
        ul {
            width: max-content;

            li {
                a {
                    font-size: 1rem;
                    color: $col-text;
                }
            }
        }
    }
}