@use "abstract" as *;

.products-block {
    display: grid;
    gap: 3rem;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;

    &.products {
        .product {
            width: 100%;
            max-height: 370px;
            border: none !important;
            background: white;
            border-radius: 1rem;
            padding: 0;
            box-shadow: 0.5rem 0.5rem 1rem #efefef;
            overflow: hidden;

            &.aroma {
                border-left: 0.5rem solid olive !important;

                .p-in-in {
                    .name {
                        color: olive !important;

                        &::after {
                            background-image: url('data:image/svg+xml,<svg viewBox="0 0 500 40" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><path d="M252.281 39.631q-1.215.077-2.444.077c-10.148 0-19.688-3.952-26.864-11.128a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0-5.352-5.351-14.059-5.351-19.41 0-14.814 14.813-38.917 14.813-53.729 0-4.739-4.738-4.739-12.421-.001-17.16s12.421-4.739 17.16 0c5.352 5.351 14.06 5.351 19.411 0 14.813-14.814 38.916-14.814 53.73 0 5.35 5.351 14.058 5.352 19.409 0C120.441 4.245 129.983.292 140.13.292c10.148.001 19.689 3.953 26.865 11.129 5.35 5.35 14.058 5.351 19.409-.001C193.58 4.245 203.122.292 213.269.292c9.305.001 18.1 3.323 25.029 9.408a12 12 0 0 1 2.161 1.72 13.7 13.7 0 0 0 9.831 4.013 13.62 13.62 0 0 0 9.253-4.013c.67-.67 1.398-1.245 2.169-1.725C276.618-3.369 299.385-2.794 313.6 11.42c5.35 5.351 14.058 5.352 19.409 0C340.185 4.245 349.727.292 359.874.292c10.148.001 19.689 3.953 26.865 11.129 5.35 5.35 14.058 5.351 19.409-.001C413.324 4.245 422.866.292 433.013.292c10.148.001 19.689 3.953 26.865 11.129a13.64 13.64 0 0 0 9.705 4.019c3.666 0 7.113-1.428 9.705-4.02 4.738-4.739 12.421-4.739 17.16 0s4.739 12.421.001 17.16c-7.176 7.176-16.716 11.128-26.865 11.128s-19.688-3.952-26.864-11.128a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0-5.352-5.351-14.059-5.351-19.41 0-6.869 6.869-15.735 10.552-24.746 11.051Z" style="fill:%23808000"/></svg>');
                        }
                    }
                }
            }

            &.deti {
                border-left: 0.5rem solid pink !important;

                .p-in-in {
                    .name {
                        color: pink !important;

                        &::after {
                            background-image: url('data:image/svg+xml,<svg viewBox="0 0 500 40" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><path d="M252.281 39.631q-1.215.077-2.444.077c-10.148 0-19.688-3.952-26.864-11.128a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0-5.352-5.351-14.059-5.351-19.41 0-14.814 14.813-38.917 14.813-53.729 0-4.739-4.738-4.739-12.421-.001-17.16s12.421-4.739 17.16 0c5.352 5.351 14.06 5.351 19.411 0 14.813-14.814 38.916-14.814 53.73 0 5.35 5.351 14.058 5.352 19.409 0C120.441 4.245 129.983.292 140.13.292c10.148.001 19.689 3.953 26.865 11.129 5.35 5.35 14.058 5.351 19.409-.001C193.58 4.245 203.122.292 213.269.292c9.305.001 18.1 3.323 25.029 9.408a12 12 0 0 1 2.161 1.72 13.7 13.7 0 0 0 9.831 4.013 13.62 13.62 0 0 0 9.253-4.013c.67-.67 1.398-1.245 2.169-1.725C276.618-3.369 299.385-2.794 313.6 11.42c5.35 5.351 14.058 5.352 19.409 0C340.185 4.245 349.727.292 359.874.292c10.148.001 19.689 3.953 26.865 11.129 5.35 5.35 14.058 5.351 19.409-.001C413.324 4.245 422.866.292 433.013.292c10.148.001 19.689 3.953 26.865 11.129a13.64 13.64 0 0 0 9.705 4.019c3.666 0 7.113-1.428 9.705-4.02 4.738-4.739 12.421-4.739 17.16 0s4.739 12.421.001 17.16c-7.176 7.176-16.716 11.128-26.865 11.128s-19.688-3.952-26.864-11.128a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0a13.64 13.64 0 0 0-9.705-4.02 13.64 13.64 0 0 0-9.705 4.02c-14.813 14.813-38.916 14.813-53.729 0-5.352-5.351-14.059-5.351-19.41 0-6.869 6.869-15.735 10.552-24.746 11.051Z" style="fill:%23ffc0cb"/></svg>');
                        }
                    }
                }
            }

            &.darek {
                border-left: 0.5rem solid green !important;

                .p-in-in {
                    .name {
                        color: green !important;
                    }
                }
            }

            .p {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 3fr 2fr;

                .p-code {
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: $col-text;
                    top: 0.5rem;
                    right: 0.5rem;
                }

                .flags-default {
                    left: 24px;
                    position: absolute;
                    top: 24px;
                }

                a.image {
                    margin-left: -23px !important;

                    img {
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.3s ease-in;
                    }
                }

                .p-in {
                    padding: 2rem;
                }

                .p-in-in {
                    .name {
                        margin-top: 1rem;
                        position: relative;
                        height: unset;
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: $col-text;
                        overflow: unset;
                        @include expressive-font;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -12px;
                            left: 0;
                            width: 130px;
                            height: 6px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .p-bottom {
                    .p-desc {
                        order: 1;
                        margin-bottom: 2rem;
                        font-size: 1rem;
                        max-height: 90px;
                    }
                    .prices {
                        order: 2;
                        max-width: 50%;
                        flex-basis: auto;
                        .price {
                            color: $col-primary;
                            @include expressive-font;
                        }
                    }
                    .p-tools {
                        order: 3;
                    }
                }
            }

            &:hover {
                a.image img {
                    transform: scale(1.1);
                }
            }
        }
    }
}