@use "abstract" as *;

$themes: (
    'aroma': (text: $col-aroma, wave: 'C1D991'),
    'deti': (text: $col-deti, wave: 'D99D91'),
    'darek': (text: $col-darek, wave: '463859')
);

.type-detail {
    .content-wrapper {
        .product-top {
            .col-xs-12:first-of-type {
                display: none;
            }
        }

        .p-detail-inner-header {
            display: none;
        }
    }

    .basic-description,
    .p-short-description {

        ul li,
        p {
            font-size: 1.1rem;

            b,
            strong {
                font-weight: 900;
                color: $col-primary;
            }
        }
    }

    .basic-description,
    .extended-description {
        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: $col-primary;
        }
    }

    .basic-description {
        .tab-item {
            padding: 1rem 0;
            
            h2 {
                margin: 0;
                position: relative;
                padding: 1rem 0;
                color: $col-secondary;
                border-bottom: 1px solid $col-primary;
                cursor: pointer;

                &::after {
                    content: '';
                    display: block;
                    width: 1.5rem;
                    height: 1.5rem;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%) rotate(180deg);
                    transition: all 0.3s ease-in;
                    background-size: contain;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve"><path style="fill:%234F5A39" d="M502.689 324.653 269.957 150.109a23.27 23.27 0 0 0-27.927 0L9.311 324.653c-10.282 7.713-12.367 22.3-4.655 32.582 4.572 6.097 11.56 9.311 18.637 9.311 4.858 0 9.759-1.517 13.945-4.656l218.758-164.072L474.763 361.89c10.285 7.714 24.871 5.627 32.582-4.655s5.626-24.87-4.656-32.582"/></svg>');
                }
            }

            div, p {
                height: auto;
                padding: 1rem 0;
                transition: all 0.3s ease-in;
                margin: 0;
            }

            &.closed {
                &::after {
                    transform: translateY(-50%) rotate(0deg);
                }

                div, p {
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }

        }
    }

    .extended-description {
        flex: 0 0 calc(38% - 10px);
        
        .detail-parameters {
            font-size: 1rem;
            color: $col-text;

            th {
                span {
                    font-weight: 600;
                    color: $col-primary;
                }
            }
        }

        .our-tip {
            display: inline-block;
            width: 40%;
            margin: 1rem 0 1rem 3rem;
            padding: 1.5rem 1.5rem 1.5rem 11rem;
            position: relative;
            border: 1px solid #C3635C;
            border-radius: 1rem;
            float: right;
            font-size: 1.3rem;

            &::before {
                content: '';
                display: block;
                width: 10rem;
                height: 16rem;
                position: absolute;
                left: 0;
                top: -1rem;
                background-image: url('/user/documents/upload/product-info/bebesak-pozor-web.png');
                background-size: contain;
                background-repeat: no-repeat;
            }

            p {
                margin-bottom: 0;

                &:first-of-type {
                    height: 65px;
                    background-color: $col-secondary;
                    padding: .5rem 1rem;
                    margin: -1.5rem -1.5rem 1rem;
                    border-radius: 0 0.85rem 0 0;
                    font-weight: 600;
                    color: $col-background !important;

                    &::before {
                        content: '';
                        display: block;
                        width: 10rem;
                        height: 65px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $col-secondary;
                        border-radius: 0.85rem 0 0 0;
                        z-index: -1;
                    }
                }
            }

            ul {
                margin: 0;
            }

            &.two-quaters-width {
                width: 100%;
                margin: 1rem 0 1rem 3rem;
                padding: 1.5rem 1.5rem 1.5rem 11rem;
            }
            &.full-width {
                width: 100%;
                margin: 1rem 0;
                padding: 1.5rem 1.5rem 1.5rem 11rem;
            }
        }
    }

    .p-image-wrapper {
        display: grid;
        grid-template-columns: auto 100px;
        width: 60%;

        .p-image {
            margin-bottom: 0;
        }

        .p-thumbnails {
            height: 100%;

            >div {
                max-width: 100px;
                height: 100%;

                >div {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    max-width: 100px;
                    height: 100%;
                }
            }

            .p-thumbnail {
                max-width: 100px;
                height: 100px;
                border: none;
                overflow: hidden;
                border-radius: 0 0.5rem 0.5rem 0;

                &::before {
                    content: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: none;
                    mix-blend-mode: multiply;
                }

                &.highlighted {
                    border-right: 3px solid $col-primary;
                }
            }
        }
    }

    .p-info-wrapper {
        width: 40%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        >h1 {
            width: 100%;
            position: relative;
            margin: 2rem 0;
            font-size: 2.2rem;
            font-weight: 600;
            color: $col-primary;

            &::after {
                content: '';
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 130px;
                height: 6px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .p-final-price-wrapper,
        .availability-value {
            width: 100%;
        }

        .p-final-price-wrapper {
            margin: 1rem 0;

            .price-final {
                @include expressive-font;
                font-size: 2rem;
                color: $col-secondary;
            }
        }

        .availability-value {
            font-size: 1rem;

            span {
                &[style="color: #3c840f"] {
                    color: $col-primary-dark !important;
                }

            }
        }

        .add-to-cart {
            background-color: $col-primary;
            border: none;
            border-radius: 2rem;

            .quantity {
                border: none;
                height: 100%;

                label {
                    color: $col-background;
                    font-size: 1.25rem;
                    height: 100%;

                    input {
                        height: 100%;
                    }
                }

                button {
                    height: 26px;
                    background-color: $col-primary-dark;
                    color: $col-background;
                    border: none;
                    transition: all 0.3s ease-in;

                    &:hover {
                        color: $col-primary-dark;
                        background-color: $col-primary-light;
                    }
                }
            }

            .add-to-cart-button {
                background-color: $col-primary;
                color: $col-background;
                font-size: 1.25rem;
                height: 100%;
                transition: all 0.3s ease-in;
                border-radius: 0 2rem 2rem 0;

                &::before {
                    content: none;
                }

                &:hover {
                    padding-left: 2rem;
                    background-color: $col-primary-dark;
                }
            }
        }

        .social-buttons-wrapper {
            width: 100%;

            a {

                &,
                &::before {
                    color: $col-primary;
                    font-size: 1.5rem;
                    transition: all 0.3s ease-in;

                    &:hover {
                        color: $col-primary-dark;
                    }
                }

                font-size: 0.8rem;
            }
        }
    }

    @each $name, $colors in $themes {
        &.#{$name} .p-info-wrapper {
            @include wave-title(map-get($colors, text), map-get($colors, wave));
        }
    }
}