$col-primary: #4F5A39; // Green
$col-primary-dark: #203A25;

$col-secondary: #C3635C; // Pink
$col-secondary-light: #D99D91; // Light Pink
$col-secondary-darker: #A23B34; // Dark Pink

$col-text: #555555;

$col-background: #fffaf4;

$col-purple: #8c7bff;



