$col-primary: #4F5A39; // Green
$col-primary-dark: #203A25;

$col-secondary: #C3635C; // Pink
$col-secondary-light: #D99D91; // Light Pink
$col-secondary-darker: #A23B34; // Dark Pink

$col-text: #555555;

$col-background: #fffaf4;
/*
$col-primary: #063F78;  // Gold
$col-primary-dark: #08204F;  // Dark Gold
$col-primary-light: #0B80A1;  // Light Gold

$col-secondary: #695225;  // Brown
$col-secondary-light: #CEA148;  // Light Brown

$col-grey: #534A57;  // Dark Gray
$col-text: #040f27;  // Text Gray

$col-background: #ecfaff;  // Off White
$col-background-transparent: #ddeff5aa;  // Transparent Off White

$col-modal-backdrop: #063F78bb;  // Dark Gold*/

$col-purple: #8c7bff;